.container{
    display: flex;
    justify-content: space-between;
    border: 1px solid #006238;
    padding:1% 2%;
    margin: 2%;
}
.container>.logo-container{
display: flex;
align-items: center;
column-gap: 10%;
}
.container>.logo-container> .logo-text{
    font: 4em Palatino, Regular;
    color: #006238;
}
